.root-pane {
    -fx-padding: 20;

}

.kpi-box {
    -fx-padding: 10 0 10 0;
    -fx-alignment: center;
    -fx-wrap-text: true;
}

.kpi-card {
    -fx-background-color: #ffffff;
    -fx-border-color: #e1e5eb;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 15;
    -fx-pref-width: 180;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 10, 0.1, 0, 2);
}

.kpi-title {
    -fx-font-size: 14px;
    -fx-text-fill: #555;
}

.kpi-value {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #2d3436;
}

.chart-style {
    -fx-background-color: #fff;
    -fx-padding: 20;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
