.input {
    -fx-pref-width: 280;
    -fx-pref-height: 36;
    -fx-font-family: 'Segoe UI';
    -fx-background-radius: 7;
    -fx-border-radius: 7;
    -fx-padding: 0 10 0 10;
}

.gradient-button {
    -fx-background-color: #2B6CB0;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-radius: 7;
    -fx-font-family: 'Segoe UI Semibold';
    -fx-cursor: hand;
    -fx-pref-height: 36;
    -fx-pref-width: 280;
}

.white-button {
    -fx-background-color: white;
    -fx-text-fill: #ff4b2b;
    -fx-font-family: 'Segoe UI Semibold';
    -fx-background-radius: 20;
    -fx-pref-height: 36;
    -fx-pref-width: 150;
}

.link-label {
    -fx-font-family: 'Segoe UI';
    -fx-font-size: 12px;
    -fx-text-fill: #888;
}
